.main_detail {
  position: relative;
}
.detail {
  width: 100%;
  padding-block-end: 20px;
}

.vginfo_container {
  position: relative;
  width: 100%;
  padding: 0;
}

.detail_img {
  width: 100%;
  height: 185px;
  margin-block-start: 50px;
  overflow: hidden;
}

.detail_info {
  width: 100%;
  height: auto;
  margin-block: 10px;
  padding: 15px;
  border: 2px solid var(--Color-variante);
  border-radius: 10px;
  background-color: var(--Color-primario2);
}

.vg_description {
  width: 100%;
  padding: 15px;
  border: 2px solid var(--Color-variante);
  border-radius: 10px;
  background-color: var(--Color-primario2);
}
.vg_description P {
  margin-block-start: 5px;
  text-shadow: 1px 1px 10px var(--Color-primario);
}
.detail_platforms, .detail_genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 5px;
}
.detail_info article {
  height: auto;
  margin: 2px;
  padding: 3px 5px;
  font-size: 14px;
  font-family: var(--Fuente1);
  border: 1px solid var(--Color-variante);
  border-radius: 5px;
}
.detail_info h5 {
  margin-block-end: 5px;
}

.main_detail button {
  position: absolute;
  top: 1%;
  left: calc(50% - 77px);
}

@media screen and (min-width: 768px) {
  .detail_img {
    height: 250px;
    margin-block-start: 60px;
  }

  .detail_info article {
    padding: 3px 6px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .detail_img {
    height: 320px;
  }

  .detail_info {
    position: absolute;
    top: 290px;
    left: 1%;
    width: 320px;
    margin: 0;
  }

  .vg_description {
    width: 64%;
    margin-block-start: 15px;
    margin-inline-start: 345px;
  }
  .detail_info article {
    height: auto;
    font-size: var(--p-size);
  }
  .detail_info h5 {
    margin-block-end: 5px;
  }

  .main_detail button {
    top: 3%;
    left: 3%;
  }
}

@media screen and (min-width: 1240px) {
  .detail_img {
    height: 350px;
  }
  .vg_description {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .detail_img {
    height: 370px;
  }
  .vg_description {
    width: 72%;
  }
  .main_detail button {
    top: 2%;
    left: 7%;
  }
}

@media screen and (min-width: 1650px) {
  .detail_img {
    height: 390px;
    margin-block-start: 0;
  }
  .vg_description {
    width: 73%;
  }
  .detail_info {
    top: 320px;
    left: 1%;
  }

  .main_detail button {
    top: 2%;
    left: 2%;
  }
}
