.cards_container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 330px);
  margin-block-end: 20px;
}

.cards_empty {
  width: 400px;
  margin-block-start: 150px;
  margin-inline: 300px;
  text-align: center;
}
.cards_empty h2 {
  text-shadow: 1px 1px 10px var(--Color-primario);
}

