.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.vgs_container {
  width: 100%;
  margin: 0;
  padding-block-start: 20px;
  padding-inline: 0;
}
.paginatedandcreate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-block-end: 20px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .vgs_container {
    position: relative;
    left: 40%;
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .vgs_container {
    left: 30%;
    width: 70%;
  }
  .paginatedandcreate {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    margin-block-end: 20px;
  }
}

@media screen and (min-width: 1240px) {
  .vgs_container {
    left: 25%;
    width: 75%;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 0;
  }
  .vgs_container {
    left: 22%;
    width: 78%;
  }
}
