.landing {
  width: 100%;
  padding-block-start: 15%;
  padding-block-end: 10%;
}

.landing h1 {
  margin-block-end: 20px;
  color: var(--Color-variante);
  text-shadow: 3px 3px 10px var(--Color-complemento);
}
.landing h3 {
  width: 100%;
  margin-block-end: 20px;
  text-shadow: 3px 3px 10px var(--Color-complemento);
}
.landing h4 {
  width: 100%;
  margin-block-end: 20px;
  text-shadow: 3px 3px 10px var(--Color-complemento);
}

.landing button {
  width: 150px;
  height: 40px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .landing {
    padding-block-start: 40%;
    padding-block-end: 30%;
  }

  .landing h1 {
    margin-block-end: 40px;
  }
  .landing h3 {
    width: 80%;
  }
  .landing h4 {
    width: 80%;
    margin-block-end: 40px;
  }

  .landing button {
    width: 150px;
    height: 40px;
    padding: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    padding-block-start: 8%;
    padding-block-end: 5%;
  }

  .landing h3 {
    width: 70%;
  }
  .landing h4 {
    width: 70%;
  }

  .landing button {
    width: 170px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1240px) {
  .landing {
    padding-block-start: 7.5%;
    padding-block-end: 4.5%;
  }

  .landing h3 {
    width: 57%;
  }
  .landing h4 {
    width: 57%;
  }

}

@media screen and (min-width: 1440px) {
  .landing {
    padding-block-start: 11%;
    padding-block-end: 4%;
  }

  .landing h1 {
    margin-block-end: 50px;
  }
  .landing h4 {
    margin-block-end: 50px;
  }

  .landing button {
    width: 200px;
  }
}

@media screen and (min-width: 1650px) {
  .landing {
    padding-block-start: 13%;
    padding-block-end: 6%;
  }
}

@media screen and (min-width: 1850px) {
  .landing {
    padding-block-start: 12%;
    padding-block-end: 5%;
  }
}
