.landing {
  width: 100%;
  padding-block-start: 12%;
  padding-block-end: 24%;
}

.landing h1 {
  margin-block-end: 20px;
  color: var(--Color-variante);
  text-shadow: 3px 3px 10px var(--Color-complemento);
}
.landing h3 {
  width: 100%;
  margin-block-end: 20px;
  text-shadow: 3px 3px 10px var(--Color-complemento);
}
.landing h4 {
  width: 100%;
  margin-block-end: 20px;
  text-shadow: 3px 3px 10px var(--Color-complemento);
}

.landing button {
  width: 150px;
  height: 40px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .landing {
    padding-block-start: 38%;
    padding-block-end: 30%;
  }

  .landing h1 {
    margin-block-end: 40px;
  }
  .landing h3 {
    width: 80%;
  }
  .landing h4 {
    width: 80%;
    margin-block-end: 40px;
  }

  .landing button {
    width: 150px;
    height: 40px;
    padding: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    padding-block-start: 10%;
    padding-block-end: 11%;
  }

  .landing h3 {
    width: 65%;
  }
  .landing h4 {
    width: 65%;
  }

  .landing button {
    width: 170px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1240px) {
  .landing {
    padding-block-start: 10%;
    padding-block-end: 12%;
  }

  .landing h3 {
    width: 57%;
  }
  .landing h4 {
    width: 57%;
  }

}

@media screen and (min-width: 1440px) {
  .landing {
    padding-block-start: 12%;
    padding-block-end: 13%;
  }

  .landing h1 {
    margin-block-end: 50px;
  }
  .landing h4 {
    margin-block-end: 50px;
  }

  .landing button {
    width: 200px;
  }
}

@media screen and (min-width: 1650px) {
  .landing {
    padding-block-start: 7%;
    padding-block-end: 9%;
  }
}

@media screen and (min-width: 1850px) {
  .landing {
    padding-block-start: 12%;
    padding-block-end: 16%;
  }
}
