.landing {
  width: 100%;
  padding-block-start: 70px;
  padding-block-end: 145px;
}

.landing h1 {
  margin-block-end: 20px;
  color: var(--Color-variante);
  text-shadow: 3px 3px 10px var(--Color-complemento);
}
.landing h3 {
  width: 100%;
  margin-block-end: 20px;
  text-shadow: 3px 3px 10px var(--Color-complemento);
}
.landing h4 {
  width: 100%;
  margin-block-end: 20px;
  text-shadow: 3px 3px 10px var(--Color-complemento);
}

.landing button {
  width: 150px;
  height: 40px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .landing {
    padding-block-start: 85px;
    padding-block-end: 170px;
  }

  .landing h1 {
    margin-block-end: 40px;
  }
  .landing h3 {
    width: 60%;
  }
  .landing h4 {
    width: 60%;
    margin-block-end: 40px;
  }

  .landing button {
    width: 150px;
    height: 40px;
    padding: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    padding-block-start: 90px;
    padding-block-end: 180px;
  }

  .landing h1 {
    margin-block-end: 40px;
  }
  .landing h3 {
    width: 50%;
  }
  .landing h4 {
    width: 50%;
    margin-block-end: 40px;
  }

  .landing button {
    width: 170px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1440px) {
  .landing {
    padding-block-start: 105px;
    padding-block-end: 235px;
  }

  .landing h1 {
    margin-block-end: 50px;
  }
  .landing h4 {
    margin-block-end: 50px;
  }

  .landing button {
    width: 200px;
  }
}
