header {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 90px;
  border-block-end: 1px solid var(--Color-variante);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 25px;
}

.header_left, .header_right a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  width: 20%;
}
.control_logo, .github_logo {
  width: 35px;
  height: 35px;
}

.header_right {
  width: 10%;
}
