.filter_section {
  width: 100%;
  height: auto;
  margin-block-start: 20px;
  padding: 10px 20px;
  border: 2px solid var(--Color-variante);
  border-radius: 10px;
  background-color: var(--Color-variante2);
}

.filter_mobile {
  width: 100%;
  margin-block-end: 10px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 3px 3px 10px var(--Color-complemento);
  cursor: pointer;
}

.filter_section section {
  padding: 0;
}

.filter_container {
  display: none;
  width: 100%;
  margin-block-start: 10px;
}
.filter_container.is-active {
  display: block;
}
.filter_container h4 {
  margin-block-end: 5px;
}
.filter_container select {
  width: 110px;
  height: 30px;
  margin-block-end: 10px;
  color: var(--Color-variante);
  background-color: var(--Color-primario);
}
.filter_container input {
  width: 100%;
  height: 35px;
  margin-block-end: 10px;
  padding: 2px 10px;
  color: var(--Color-variante);
  background-color: var(--Color-primario);
}

.submit_filter_button {
  display: none;
}
.submit_filter_button.is-active {
  display: block;
}

@media screen and (min-width: 768px) {
  .filter_section {
    position: fixed;
    width: 35%;
    margin-inline-end: 5px;
  }
  .filter_mobile {
    display: none;
  }
  .filter_container {
    display: block;
  }
  .submit_filter_button {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .filter_section {
    width: 27%;
    margin-inline-end: 10px;
    padding: 15px 20px;
    border-radius: 20px;
  }

  .filter_container {
    margin-block-start: 0;
  }
  .filter_container select {
    width: 120px;
  }
}

@media screen and (min-width: 1240px) {
  .filter_section {
    width: 22%;
  }
}

@media screen and (min-width: 1440px) {
  .filter_section {
    max-width: 285px;
    width: 18%;
    padding: 20px;
  }
}

@media screen and (min-width: 1650px) {
  .filter_section {
    width: 16%;
  }
}

@media screen and (min-width: 1900px) {
  .filter_section {
    width: 14%;
  }
}
